# Goal:

- rename rows
- remove NaN values
- keep only rows with usable info
- drop absolutely unecessary columns, else: keep for dropping later to avoid re-loading a csv when training model
- save file as clean_sedan_total

In [11]:
import pandas as pd
from os import getcwd
import numpy as np
import scipy.stats as st


getcwd()

'C:\\Users\\Alec\\Documents\\Programming_Resources\\Boot_Camp\\project-04\\CISautoData'

In [6]:
infile = 'data_raw/sedan_chunk_total.csv'

In [8]:
df = pd.read_csv(infile)

In [9]:
df.head()

,vf_BodyClass,vf_Make,vf_MakeID,vf_Model,vf_ModelID,vf_ModelYear,mileage,askPrice,msrp,color,...,vf_FuelTypePrimary,vf_FuelTypeSecondary,vf_Series,vf_Series2,vf_SteeringLocation,vf_TransmissionStyle,vf_Trim,vf_Trim2,vf_Turbo,vin
0,Sedan/Saloon,HONDA,474.0,Accord,1861.0,2011.0,66253,0,0,Dark Amber Metallic,...,Gasoline,NaN,NaN,NaN,NaN,Automatic,LX,NaN,NaN,17db7a4f0262c5312dbc4f00c126e02dcaac8a17f81a6d...
1,Sedan/Saloon,HONDA,474.0,Civic,1863.0,2014.0,81493,0,0,Black,...,Gasoline,NaN,Si,NaN,NaN,Manual/Standard,NaN,NaN,NaN,a9a44eb9d5b82470cdf9692f33597cf8b2d33868a0a537...
2,Sedan/Saloon,CHEVROLET,467.0,Malibu,1834.0,2012.0,79232,0,0,Black Granite Metallic,...,Gasoline,NaN,1LT,NaN,NaN,NaN,NaN,NaN,NaN,4a402fc8181916a7fdddeb00509bbd14a278d29265b046...
3,Sedan/Saloon,CHEVROLET,467.0,Malibu,1834.0,2017.0,23056,0,0,Cajun Red Tintcoat,...,Gasoline,NaN,LT (1LT),NaN,Left Hand Drive (LHD),NaN,NaN,NaN,Yes,88c484edf48234c4e6d824ae18320de19c7bcb00bdecec...
4,Sedan/Saloon,FORD,460.0,Fiesta,3267.0,2015.0,31793,0,0,Tuxedo Black,...,Flexible Fuel Vehicle (FFV),NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,c96cfc665d912be3a39b4dc3126faa11dd2f9e589b849c...

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613306 entries, 0 to 613305
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   vf_BodyClass          613306 non-null  object
 1   vf_Make               613306 non-null  object
 2   vf_MakeID             613306 non-null  float64
 3   vf_Model              613209 non-null  object
 4   vf_ModelID            613209 non-null  float64
 5   vf_ModelYear          613303 non-null  float64
 6   mileage               613306 non-null  int64
 7   askPrice              613306 non-null  int64
 8   msrp                  613306 non-null  int64
 9   color                 579514 non-null  object
 10  interiorColor         450288 non-null  object
 11  vf_BodyCabType        613201 non-null  object
 12  vf_Doors              611544 non-null  float64
 13  vf_EngineCylinders    559084 non-null  float64
 14  vf_EngineHP           343570 non-null  float64
 15  vf_FuelTypePrimary    585730 non-null  object
 16  vf_FuelTypeSecondary  52547 non-null   object
 17  vf_Series             466597 non-null  object
 18  vf_Series2            43158 non-null   object
 19  vf_SteeringLocation   143792 non-null  object
 20  vf_TransmissionStyle  172815 non-null  object
 21  vf_Trim               168332 non-null  object
 22  vf_Trim2              489 non-null     object
 23  vf_Turbo              75995 non-null   object
 24  vin                   613306 non-null  object
dtypes: float64(6), int64(3), object(16)
memory usage: 117.0+ MB

In [24]:
df_main_features = df[[
    'vf_Make',
    'vf_MakeID',
    'vf_Model',
    'vf_ModelID',
    'vf_ModelYear',
    'mileage',
    'askPrice',
    'msrp',
    'color',
]]

In [25]:
# rename columns
df_main_features = df_main_features.rename(columns={
    'vf_Make': 'make',
    'vf_MakeID': 'makeID',
    'vf_Model': 'model',
    'vf_ModelID': 'modelID',
    'vf_ModelYear': 'modelYear',
    'mileage': 'mileage',
    'askPrice': 'askPrice',
    'msrp': 'msrp',
    'color': 'color',
})

In [26]:
df_main_features = df_main_features.loc[df_main_features['askPrice'] != 0]

In [27]:
df_main_features.count()

make         505058
makeID       505058
model        504998
modelID      504998
modelYear    505058
mileage      505058
askPrice     505058
msrp         505058
color        490521
dtype: int64

In [28]:
df_main_features.dropna(how='any').count()

make         490463
makeID       490463
model        490463
modelID      490463
modelYear    490463
mileage      490463
askPrice     490463
msrp         490463
color        490463
dtype: int64

In [29]:
# remove NaN
df_main_features = df_main_features.dropna(how='any')

In [32]:
# Calculate the age of the vehicle
car_age = (2020 - df_main_features['modelYear'])

In [35]:
# insert the new column into the dataframe
df_main_features.insert(5, 'age_in_years', car_age)

In [36]:
df_main_features.head()

,make,makeID,model,modelID,modelYear,age_in_years,mileage,askPrice,msrp,color
18,FORD,460.0,Taurus,1782.0,2015.0,5.0,67588,16462,16462,Ingot Silver Metallic
31,AUDI,582.0,S8,3678.0,2015.0,5.0,32990,59962,59962,Daytona Gray Pearl Effect
46,CHRYSLER,477.0,300,1878.0,2017.0,3.0,9231,23962,23962,Billet Silver Metallic Clearcoat
50,LINCOLN,464.0,MKZ,1790.0,2016.0,4.0,19710,22962,22962,White Platinum Metallic Tri-Coat
53,FORD,460.0,Fiesta,3267.0,2011.0,9.0,92053,5962,5962,Blue

In [40]:
# save the dataframe
df_main_features.to_csv('data_clean/sedan_limited_features.csv', index = False)