In [1]:
import pandas as pd
from os import getcwd
getcwd()

'C:\\Users\\Alec\\Documents\\Programming_Resources\\Boot_Camp\\project-04\\CISautoData\\ipynb'

In [2]:
trucks = '../csv/PICKUP_DATA_CLEAN.csv'
sedan = '../csv/SEDAN_DATA_CLEAN.csv'
suv = '../csv/SUV_DATA_CLEAN.csv'

In [3]:
trucks_df = pd.read_csv(trucks)
sedan_df = pd.read_csv(sedan)
suv_df = pd.read_csv(suv)

df_list = [trucks_df,sedan_df,suv_df,]

In [4]:
trucks_df.head(0)

Empty DataFrame
Columns: [brandName, modelName, vf_ModelID, vf_ModelYear, mileage, askPrice, msrp, color, vf_EngineCylinders, vf_FuelTypePrimary, vin]
Index: []

In [8]:
trucks_df['bodyclass']='truck'

In [10]:
sedan_df['bodyclass'] = 'sedan'

In [11]:
suv_df['bodyclass'] = 'suv'

In [12]:
full_df = pd.concat(df_list)

In [13]:
def order_and_rename(dataframe):
    dataframe = dataframe[['bodyclass'
    ,'brandName'
    ,'modelName'
    ,'vf_ModelID'
    ,'vf_ModelYear'
    ,'mileage'
    ,'askPrice'
    ,'msrp'
    ,'color'
    ,'vf_EngineCylinders'
    ,'vf_FuelTypePrimary'
    ,'vin']]

    dataframe = dataframe.rename(columns={
    'brandName': 'brand_name',
    'modelName': 'model_name',
    'vf_ModelID': 'model_ID',
    'vf_ModelYear': 'model_year',
    'mileage': 'mileage',
    'askPrice': 'ask_price',
    'msrp': 'msrp',
    'color': 'color',
    'vf_EngineCylinders': 'engine_cylinders',
    'vf_FuelTypePrimary': 'fuel_type_primary',
    'vin': 'vin',
    'bodyclass':'body_class',
    })

    return dataframe

In [14]:
sedan_df = order_and_rename(sedan_df)
suv_df = order_and_rename(suv_df)
trucks_df = order_and_rename(trucks_df)    
full_df = order_and_rename(full_df)

In [16]:
suv_df.head(0)

Empty DataFrame
Columns: [body_class, brand_name, model_name, model_ID, model_year, mileage, ask_price, msrp, color, engine_cylinders, fuel_type_primary, vin]
Index: []

In [17]:
sedan_df.head(0)

Empty DataFrame
Columns: [body_class, brand_name, model_name, model_ID, model_year, mileage, ask_price, msrp, color, engine_cylinders, fuel_type_primary, vin]
Index: []

In [18]:
trucks_df.head(0)

Empty DataFrame
Columns: [body_class, brand_name, model_name, model_ID, model_year, mileage, ask_price, msrp, color, engine_cylinders, fuel_type_primary, vin]
Index: []

In [15]:
full_df.head(0)

Empty DataFrame
Columns: [body_class, brand_name, model_name, model_ID, model_year, mileage, ask_price, msrp, color, engine_cylinders, fuel_type_primary, vin]
Index: []

In [19]:
full_df.to_csv('../csv/all_bodyclass_clean.csv', index = False)

In [20]:
trucks_df.to_csv('../csv/PICKUP_DATA_CLEAN.csv', index = False)
sedan_df.to_csv('../csv/SEDAN_DATA_CLEAN.csv', index = False)
suv_df.to_csv('../csv/SUV_DATA_CLEAN.csv', index = False)