In [1]:
import pandas as pd
from os import getcwd
getcwd()

'C:\\Users\\Alec\\Documents\\Programming_Resources\\Boot_Camp\\project-04\\CISautoData\\ipynb'

In [2]:
sedan_df = pd.read_csv('../csv/SEDAN_DATA_CLEAN.csv')
suv_df = pd.read_csv('../csv/SUV_DATA_CLEAN.csv')
trucks_df = pd.read_csv('../csv/PICKUP_DATA_CLEAN.csv')
full_df = pd.read_csv('../csv/all_bodyclass_clean.csv')

In [3]:
def feature_list_maker(dataframe):
    df_test = dataframe.drop(columns=['msrp','vin','color',])
    #names for each DF/ Model to be trained


    # divide the data
    X = df_test.drop(columns=['ask_price'])
    y = df_test['ask_price']

    # set dummies
    X_dummies = pd.get_dummies(X,drop_first=True)

    # split for test and train
    feature_list = X_dummies.columns.to_list()
    return feature_list

In [4]:
sedan_feature_list = feature_list_maker(sedan_df)
suv_feature_list = feature_list_maker(suv_df)
trucks_feature_list = feature_list_maker(trucks_df)
full_feature_list = feature_list_maker(full_df)

In [65]:
trucks_df.head()

,body_class,brand_name,model_name,model_ID,model_year,mileage,ask_price,msrp,color,engine_cylinders,fuel_type_primary,vin
0,truck,FORD,F-250,1805.0,2017.0,19106,40962,40962,Ingot Silver Metallic,8.0,Diesel,bcd4bbecbba3b9ed2330d543abc3d90b997aa8fa6e628d...
1,truck,FORD,F-150,1801.0,2017.0,28194,28962,28962,Ingot Silver Metallic,6.0,Gasoline,a8f09496d9523e33ee3a8f885a475f5ef001d68a334c98...
2,truck,GMC,Sierra,1857.0,2017.0,7483,43962,43962,Crimson Red Tintcoat,8.0,Gasoline,c65dd3e96f4f68a0d4c7b09005273e0312295057c7c529...
3,truck,FORD,F-250,1805.0,2017.0,23881,38962,38962,Oxford White,8.0,Diesel,966168515802a7cf510d6c87a15cf71cc4385316a504c6...
4,truck,GMC,Canyon,4093.0,2017.0,6333,30962,30962,Onyx Black,6.0,Gasoline,9c7648c843035d0b46e9d716d947dfa3d0e8881054247a...

In [45]:
trucks_feature_list

['model_ID',
 'model_year',
 'mileage',
 'engine_cylinders',
 'brand_name_DODGE',
 'brand_name_FORD',
 'brand_name_GMC',
 'brand_name_HONDA',
 'brand_name_HUMMER',
 'brand_name_ISUZU',
 'brand_name_JEEP',
 'brand_name_LINCOLN',
 'brand_name_MAZDA',
 'brand_name_MITSUBISHI',
 'brand_name_NISSAN',
 'brand_name_RAM',
 'brand_name_TOYOTA',
 'model_name_2500',
 'model_name_3500',
 'model_name_B-Series',
 'model_name_Blackwood',
 'model_name_Canyon',
 'model_name_Colorado',
 'model_name_D-Series',
 'model_name_Dakota',
 'model_name_El Camino',
 'model_name_Explorer Sport Trac',
 'model_name_F-150',
 'model_name_F-150 Heritage',
 'model_name_F-250',
 'model_name_F-350',
 'model_name_F-450',
 'model_name_Frontier',
 'model_name_GMT-400',
 'model_name_Gladiator',
 'model_name_H3T',
 'model_name_Mark LT',
 'model_name_Pick-Up',
 'model_name_Raider',
 'model_name_Ram',
 'model_name_Ranger',
 'model_name_Ridgeline',
 'model_name_S-10 Pickup',
 'model_name_SSR',
 'model_name_Sierra',
 'model_name_Sierra HD',
 'model_name_Sierra Limited',
 'model_name_Silverado',
 'model_name_Silverado HD',
 'model_name_Silverado LD',
 'model_name_Sonoma',
 'model_name_Tacoma',
 'model_name_Titan',
 'model_name_Tundra',
 'model_name_W-Series',
 'model_name_i-290',
 'fuel_type_primary_Gasoline']

In [46]:
model_name_list = trucks_df['model_name'].unique()
model_ID_list = trucks_df['model_ID'].unique()
make_list = trucks_df['brand_name'].unique()


for i, element in enumerate(model_name_list):
    print(f"'{model_name_list[i]}' : {model_ID_list[i]},")

'F-250' : 1805.0,
'F-150' : 1801.0,
'Sierra' : 1857.0,
'Canyon' : 4093.0,
'2500' : 13621.0,
'1500' : 13620.0,
'Ram' : 1938.0,
'Colorado' : 4086.0,
'Silverado' : 1850.0,
'F-350' : 1806.0,
'Tacoma' : 2223.0,
'Ranger' : 1803.0,
'Dakota' : 1941.0,
'3500' : 13622.0,
'Tundra' : 2467.0,
'Titan' : 1920.0,
'Frontier' : 1919.0,
'B-Series' : 2741.0,
'Ridgeline' : 1866.0,
'Explorer Sport Trac' : 1804.0,
'Silverado HD' : 24906.0,
'S-10 Pickup' : 11483.0,
'Gladiator' : 25919.0,
'Sierra HD' : 24909.0,
'Silverado LD' : 25279.0,
'GMT-400' : 10978.0,
'Sonoma' : 11073.0,
'F-450' : 1807.0,
'Raider' : 1950.0,
'H3T' : 25774.0,
'Sierra Limited' : 24910.0,
'Mark LT' : 2808.0,
'SSR' : 4889.0,
'i-290' : 25827.0,
'D-Series' : 14868.0,
'F-150 Heritage' : 7331.0,
'W-Series' : 14869.0,
'Pick-Up' : 14263.0,
'El Camino' : 14637.0,
'Blackwood' : 5273.0,

In [47]:
vehicle_model_dict = {
'F-250' : 1805.0,
'F-150' : 1801.0,
'Sierra' : 1857.0,
'Canyon' : 4093.0,
'2500' : 13621.0,
'1500' : 13620.0,
'Ram' : 1938.0,
'Colorado' : 4086.0,
'Silverado' : 1850.0,
'F-350' : 1806.0,
'Tacoma' : 2223.0,
'Ranger' : 1803.0,
'Dakota' : 1941.0,
'3500' : 13622.0,
'Tundra' : 2467.0,
'Titan' : 1920.0,
'Frontier' : 1919.0,
'B-Series' : 2741.0,
'Ridgeline' : 1866.0,
'Explorer Sport Trac' : 1804.0,
'Silverado HD' : 24906.0,
'S-10 Pickup' : 11483.0,
'Gladiator' : 25919.0,
'Sierra HD' : 24909.0,
'Silverado LD' : 25279.0,
'GMT-400' : 10978.0,
'Sonoma' : 11073.0,
'F-450' : 1807.0,
'Raider' : 1950.0,
'H3T' : 25774.0,
'Sierra Limited' : 24910.0,
'Mark LT' : 2808.0,
'SSR' : 4889.0,
'i-290' : 25827.0,
'D-Series' : 14868.0,
'F-150 Heritage' : 7331.0,
'W-Series' : 14869.0,
'Pick-Up' : 14263.0,
'El Camino' : 14637.0,
'Blackwood' : 5273.0,}

In [48]:
for i, feature in enumerate(trucks_feature_list):
    split_feat = feature.split("_")[-1]
    try:
        dict_insert = vehicle_model_dict[f'{split_feat}']
        
        print(f"'{i}' : ['{split_feat}',{dict_insert}],")
    except KeyError:
        print(f"'{i}' : '{split_feat}',")
        continue

'0' : 'ID',
'1' : 'year',
'2' : 'mileage',
'3' : 'cylinders',
'4' : 'DODGE',
'5' : 'FORD',
'6' : 'GMC',
'7' : 'HONDA',
'8' : 'HUMMER',
'9' : 'ISUZU',
'10' : 'JEEP',
'11' : 'LINCOLN',
'12' : 'MAZDA',
'13' : 'MITSUBISHI',
'14' : 'NISSAN',
'15' : 'RAM',
'16' : 'TOYOTA',
'17' : ['2500',13621.0],
'18' : ['3500',13622.0],
'19' : ['B-Series',2741.0],
'20' : ['Blackwood',5273.0],
'21' : ['Canyon',4093.0],
'22' : ['Colorado',4086.0],
'23' : ['D-Series',14868.0],
'24' : ['Dakota',1941.0],
'25' : ['El Camino',14637.0],
'26' : ['Explorer Sport Trac',1804.0],
'27' : ['F-150',1801.0],
'28' : ['F-150 Heritage',7331.0],
'29' : ['F-250',1805.0],
'30' : ['F-350',1806.0],
'31' : ['F-450',1807.0],
'32' : ['Frontier',1919.0],
'33' : ['GMT-400',10978.0],
'34' : ['Gladiator',25919.0],
'35' : ['H3T',25774.0],
'36' : ['Mark LT',2808.0],
'37' : ['Pick-Up',14263.0],
'38' : ['Raider',1950.0],
'39' : ['Ram',1938.0],
'40' : ['Ranger',1803.0],
'41' : ['Ridgeline',1866.0],
'42' : ['S-10 Pickup',11483.0],
'43' : ['SSR',4889.0],
'44' : ['Sierra',1857.0],
'45' : ['Sierra HD',24909.0],
'46' : ['Sierra Limited',24910.0],
'47' : ['Silverado',1850.0],
'48' : ['Silverado HD',24906.0],
'49' : ['Silverado LD',25279.0],
'50' : ['Sonoma',11073.0],
'51' : ['Tacoma',2223.0],
'52' : ['Titan',1920.0],
'53' : ['Tundra',2467.0],
'54' : ['W-Series',14869.0],
'55' : ['i-290',25827.0],
'56' : 'Gasoline',

In [51]:
SUV_feature_dictionary = {'0' : 'model_ID',
'1' : 'model_year',
'2' : 'mileage',
'3' : 'engine_cylinders',
'4' : 'ALFA ROMEO',
'5' : 'AUDI',
'6' : 'BMW',
'7' : 'BUICK',
'8' : 'CADILLAC',
'9' : 'CHEVROLET',
'10' : 'CHRYSLER',
'11' : 'DODGE',
'12' : 'FIAT',
'13' : 'FORD',
'14' : 'GMC',
'15' : 'HONDA',
'16' : 'HUMMER',
'17' : 'ISUZU',
'18' : 'JAGUAR',
'19' : 'JEEP',
'20' : 'KIA',
'21' : 'LAND ROVER',
'22' : 'LEXUS',
'23' : 'LINCOLN',
'24' : 'MASERATI',
'25' : 'MAZDA',
'26' : 'MERCEDES-BENZ',
'27' : 'MERCURY',
'28' : 'MINI',
'29' : 'MITSUBISHI',
'30' : 'PONTIAC',
'31' : 'PORSCHE',
'32' : 'SAAB',
'33' : 'SATURN',
'34' : 'SUBARU',
'35' : 'SUZUKI',
'36' : 'TOYOTA',
'37' : 'VOLKSWAGEN',
'38' : 'VOLVO',
'39' : ['500X',10396.0],
'40' : ['9-4x',4094.0],
'41' : ['9-7X',4603.0],
'42' : ['A4 allroad',13759.0],
'43' : ['Acadia',1855.0],
'44' : ['Accord Crosstour',27165.0],
'45' : ['Ascent',24836.0],
'46' : ['Aspen',3629.0],
'47' : ['Atlas',17618.0],
'48' : ['Aviator',2653.0],
'49' : ['Axiom',6009.0],
'50' : ['Aztek',8884.0],
'51' : ['Blazer',11502.0],
'52' : ['Bronco',6825.0],
'53' : ['CJ-7',15073.0],
'54' : ['CR-V',1865.0],
'55' : ['Captiva Sport',1846.0],
'56' : ['Cayenne',7895.0],
'57' : ['Cherokee',1945.0],
'58' : ['Commander',1948.0],
'59' : ['Compass',1946.0],
'60' : ['Cooper',1761.0],
'61' : ['Cooper Countryman',1880.0],
'62' : ['Cooper S Countryman',1881.0],
'63' : ['Crosstour',9173.0],
'64' : ['Discovery',9337.0],
'65' : ['Discovery Sport',2241.0],
'66' : ['Durango',3508.0],
'67' : ['E-PACE',22434.0],
'68' : ['Edge',1797.0],
'69' : ['Element',1868.0],
'70' : ['Enclave',1841.0],
'71' : ['Encore',1842.0],
'72' : ['Envision',11438.0],
'73' : ['Envoy',4507.0],
'74' : ['Equinox',1847.0],
'75' : ['Escalade',1843.0],
'76' : ['Escalade ESV',4935.0],
'77' : ['Escape',1798.0],
'78' : ['Excursion',2370.0],
'79' : ['Expedition',1799.0],
'80' : ['Expedition MAX',1820.0],
'81' : ['Explorer',1800.0],
'82' : ['Explorer Sport',5868.0],
'83' : ['Explorer Sport Trac',1804.0],
'84' : ['F-Pace',11441.0],
'85' : ['Flex',1802.0],
'86' : ['Freestyle',2379.0],
'87' : ['G-Class',2131.0],
'88' : ['GL-Class',2130.0],
'89' : ['GLA-Class',2084.0],
'90' : ['GLB-Class',26498.0],
'91' : ['GLC-Class',5885.0],
'92' : ['GLE-Class',5886.0],
'93' : ['GLK-Class',2132.0],
'94' : ['GLS-Class',14005.0],
'95' : ['GX',2215.0],
'96' : ['Grand Cherokee',1949.0],
'97' : ['Grand Vitara',10291.0],
'98' : ['Grand Wagoneer',14871.0],
'99' : ['H2',4598.0],
'100' : ['H3',4599.0],
'101' : ['HHR',4586.0],
'102' : ['HR-V',9212.0],
'103' : ['Highlander',2213.0],
'104' : ['LR2',2243.0],
'105' : ['LR3',2301.0],
'106' : ['LR4',2245.0],
'107' : ['LX',2212.0],
'108' : ['Levante',11446.0],
'109' : ['Liberty',1944.0],
'110' : ['M-Class',2129.0],
'111' : ['MDX',2147.0],
'112' : ['METRIS',11451.0],
'113' : ['MKC',3599.0],
'114' : ['MKT',1812.0],
'115' : ['MKX',1813.0],
'116' : ['ML-Class',13819.0],
'117' : ['Macan',8031.0],
'118' : ['Mariner',1815.0],
'119' : ['Montero',2318.0],
'120' : ['Montero Sport',5755.0],
'121' : ['Mountaineer',1816.0],
'122' : ['Nautilus',24892.0],
'123' : ['Navigator',1814.0],
'124' : ['Nitro',1940.0],
'125' : ['Outlook',4596.0],
'126' : ['Pacifica',3628.0],
'127' : ['Passport',5959.0],
'128' : ['Patriot',1947.0],
'129' : ['Pilot',1864.0],
'130' : ['Q3',4051.0],
'131' : ['Q5',3862.0],
'132' : ['Q7',3679.0],
'133' : ['R-Class',2939.0],
'134' : ['RAV4',2217.0],
'135' : ['RDX',1871.0],
'136' : ['RX',2214.0],
'137' : ['Rainier',4954.0],
'138' : ['Range Rover',2247.0],
'139' : ['Range Rover Evoque',2244.0],
'140' : ['Range Rover Sport',2246.0],
'141' : ['Range Rover Velar',19055.0],
'142' : ['Rendezvous',4955.0],
'143' : ['Renegade',6160.0],
'144' : ['Rodeo/Amigo',9429.0],
'145' : ['SQ5',4052.0],
'146' : ['SRX',1844.0],
'147' : ['Sorento',2769.0],
'148' : ['Sportage',2770.0],
'149' : ['Sprinter',1703.0],
'150' : ['Stelvio',18005.0],
'151' : ['Suburban',1851.0],
'152' : ['Tahoe',1852.0],
'153' : ['Taurus X',3160.0],
'154' : ['Terrain',1858.0],
'155' : ['Tiguan',8151.0],
'156' : ['Tiguan Limited',24247.0],
'157' : ['Torrent',4591.0],
'158' : ['Touareg',3136.0],
'159' : ['Tracker',1854.0],
'160' : ['Trailblazer',4548.0],
'161' : ['Traverse',1853.0],
'162' : ['Trax',10988.0],
'163' : ['Tribute',1860.0],
'164' : ['Vue',4595.0],
'165' : ['Wrangler',1943.0],
'166' : ['Wrangler JK',25197.0],
'167' : ['X1',2300.0],
'168' : ['X2',24940.0],
'169' : ['X3',1719.0],
'170' : ['X4',5992.0],
'171' : ['X5',1717.0],
'172' : ['X6',1714.0],
'173' : ['XC40',23714.0],
'174' : ['XC60',1962.0],
'175' : ['XC90',3132.0],
'176' : ['XL7',3143.0],
'177' : ['XT4',24948.0],
'178' : ['XT5',11442.0],
'179' : ['XT6',25856.0],
'180' : ['Yukon',1859.0],
'181' : ['Yukon XL',4579.0],
'182' : ['ZDX',1867.0],
'183' : ['allroad',3150.0],
'184' : 'fuel_type',}

In [52]:
trucks_feature_dict = {'0' : 'model_ID',
'1' : 'model_year',
'2' : 'mileage',
'3' : 'engine_cylinders',
'4' : 'DODGE',
'5' : 'FORD',
'6' : 'GMC',
'7' : 'HONDA',
'8' : 'HUMMER',
'9' : 'ISUZU',
'10' : 'JEEP',
'11' : 'LINCOLN',
'12' : 'MAZDA',
'13' : 'MITSUBISHI',
'14' : 'NISSAN',
'15' : 'RAM',
'16' : 'TOYOTA',
'17' : ['2500',13621.0],
'18' : ['3500',13622.0],
'19' : ['B-Series',2741.0],
'20' : ['Blackwood',5273.0],
'21' : ['Canyon',4093.0],
'22' : ['Colorado',4086.0],
'23' : ['D-Series',14868.0],
'24' : ['Dakota',1941.0],
'25' : ['El Camino',14637.0],
'26' : ['Explorer Sport Trac',1804.0],
'27' : ['F-150',1801.0],
'28' : ['F-150 Heritage',7331.0],
'29' : ['F-250',1805.0],
'30' : ['F-350',1806.0],
'31' : ['F-450',1807.0],
'32' : ['Frontier',1919.0],
'33' : ['GMT-400',10978.0],
'34' : ['Gladiator',25919.0],
'35' : ['H3T',25774.0],
'36' : ['Mark LT',2808.0],
'37' : ['Pick-Up',14263.0],
'38' : ['Raider',1950.0],
'39' : ['Ram',1938.0],
'40' : ['Ranger',1803.0],
'41' : ['Ridgeline',1866.0],
'42' : ['S-10 Pickup',11483.0],
'43' : ['SSR',4889.0],
'44' : ['Sierra',1857.0],
'45' : ['Sierra HD',24909.0],
'46' : ['Sierra Limited',24910.0],
'47' : ['Silverado',1850.0],
'48' : ['Silverado HD',24906.0],
'49' : ['Silverado LD',25279.0],
'50' : ['Sonoma',11073.0],
'51' : ['Tacoma',2223.0],
'52' : ['Titan',1920.0],
'53' : ['Tundra',2467.0],
'54' : ['W-Series',14869.0],
'55' : ['i-290',25827.0],
'56' : 'fuel_type',}

----------------

HTML Example

karat option value = "19">LINCOLN</option karat

--------------------

In [62]:
for i, element in enumerate(trucks_feature_list):
    model_name = element.split("_")[-1]
    if i <17:
        html_text = trucks_feature_dict[f'{i}']
    else:
        html_text = trucks_feature_dict[f'{i}'][0]
    print(f'<option value = "{i}"> {html_text}</option>')

<option value = "0"> model_ID</option>
<option value = "1"> model_year</option>
<option value = "2"> mileage</option>
<option value = "3"> engine_cylinders</option>
<option value = "4"> DODGE</option>
<option value = "5"> FORD</option>
<option value = "6"> GMC</option>
<option value = "7"> HONDA</option>
<option value = "8"> HUMMER</option>
<option value = "9"> ISUZU</option>
<option value = "10"> JEEP</option>
<option value = "11"> LINCOLN</option>
<option value = "12"> MAZDA</option>
<option value = "13"> MITSUBISHI</option>
<option value = "14"> NISSAN</option>
<option value = "15"> RAM</option>
<option value = "16"> TOYOTA</option>
<option value = "17"> 2500</option>
<option value = "18"> 3500</option>
<option value = "19"> B-Series</option>
<option value = "20"> Blackwood</option>
<option value = "21"> Canyon</option>
<option value = "22"> Colorado</option>
<option value = "23"> D-Series</option>
<option value = "24"> Dakota</option>
<option value = "25"> El Camino</option>
<option value = "26"> Explorer Sport Trac</option>
<option value = "27"> F-150</option>
<option value = "28"> F-150 Heritage</option>
<option value = "29"> F-250</option>
<option value = "30"> F-350</option>
<option value = "31"> F-450</option>
<option value = "32"> Frontier</option>
<option value = "33"> GMT-400</option>
<option value = "34"> Gladiator</option>
<option value = "35"> H3T</option>
<option value = "36"> Mark LT</option>
<option value = "37"> Pick-Up</option>
<option value = "38"> Raider</option>
<option value = "39"> Ram</option>
<option value = "40"> Ranger</option>
<option value = "41"> Ridgeline</option>
<option value = "42"> S-10 Pickup</option>
<option value = "43"> SSR</option>
<option value = "44"> Sierra</option>
<option value = "45"> Sierra HD</option>
<option value = "46"> Sierra Limited</option>
<option value = "47"> Silverado</option>
<option value = "48"> Silverado HD</option>
<option value = "49"> Silverado LD</option>
<option value = "50"> Sonoma</option>
<option value = "51"> Tacoma</option>
<option value = "52"> Titan</option>
<option value = "53"> Tundra</option>
<option value = "54"> W-Series</option>
<option value = "55"> i-290</option>
<option value = "56"> f</option>

# SUV Data Types

In [63]:
suv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139644 entries, 0 to 139643
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   body_class         139644 non-null  object
 1   brand_name         139644 non-null  object
 2   model_name         139644 non-null  object
 3   model_ID           139644 non-null  float64
 4   model_year         139644 non-null  float64
 5   mileage            139644 non-null  int64
 6   ask_price          139644 non-null  int64
 7   msrp               139644 non-null  int64
 8   color              139644 non-null  object
 9   engine_cylinders   139644 non-null  float64
 10  fuel_type_primary  139644 non-null  object
 11  vin                139644 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 12.8+ MB

# Truck Data Types

In [64]:
trucks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50788 entries, 0 to 50787
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   body_class         50788 non-null  object
 1   brand_name         50788 non-null  object
 2   model_name         50788 non-null  object
 3   model_ID           50788 non-null  float64
 4   model_year         50788 non-null  float64
 5   mileage            50788 non-null  int64
 6   ask_price          50788 non-null  int64
 7   msrp               50788 non-null  int64
 8   color              50788 non-null  object
 9   engine_cylinders   50788 non-null  float64
 10  fuel_type_primary  50788 non-null  object
 11  vin                50788 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 4.6+ MB